.bg-light {
    width: 100%; /* Встановлюємо ширину на 100% ширини екрану */
    height: 100vh; /* Встановлюємо висоту на 100% висоти вікна браузера */
    padding: 0; /* Видаляємо внутрішні відступи (паддинги) */
    margin: 0;
    display: flex; /* Встановлюємо flex-контейнер */
    flex-direction: column; /* Встановлюємо напрямок розташування елементів по вертикалі */
    justify-content: center; /* Вирівнюємо елементи по центру по вертикалі */
    align-items: center; /* Встановлюємо ширину контейнера на 80% ширини батьківського елемента */
}
